@model repack.ViewModels.StackViewModel
<div class="row mt-5">
    <div class="col-6">

    </div>
    <div class="col-6 text-right">
        <a href="~/stack/edit/" class="btn btn-primary">Create Stack</a>
    </div>
</div>

<table class="table table-striped mt-3">
    <thead>
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var stack in Model.Stacks)
    {
        <tr>
            <td>@stack.Name</td>
            <td class="text-right">
                <a href="~/stack/edit/@stack.Id" class="mr-2 btn btn-sm btn-success">Edit</a>
                <a href="~/task/@stack.Id" class="mr-2 btn btn-sm btn-info">Tasks</a>
                <a href="~/stack/log/@stack.Id" class="btn btn-sm btn-warning">Log</a>
            </td>
        </tr>
    }
    </tbody>
</table>