@model repack.ViewModels.StackViewModel
<div class="row mt-5">
    <div class="col-6">
        <a href="~/stack/" class="btn btn-secondary">Back</a>
        @if (Model.Logs.Any())
        {
            <span class="ml-2">recent @(Model.Logs.Count) logs</span>
        }
    </div>
</div>
@if (Model.Logs.Any())
{
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Date</th>
            <th>Request Header</th>
            <th>Request Body</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var log in Model.Logs)
        {
            <tr>
                <td>@log.Created.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>
                    <textarea class="form-control" rows="5" readonly="readonly">@log.Header</textarea>
                </td>
                <td>
                    <textarea class="form-control" rows="5" readonly="readonly">@log.Body</textarea>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p class="alert alert-secondary mt-3 text-center">Has Never Received</p>
}